.box{
    width:359px;
    height:788px;
    position: absolute;
    left:1px;
    background-image: url('../images/car.svg');
    background-size: 358px  786px;
    background-repeat: no-repeat;
    top:141px;
    
    
}

    