.riepilogi-table{
    border-bottom:1px solid  #EAE9E9;
    padding: 30px 9%;

.main-table{
    display: flex;
    justify-content: space-between;
    // width: 70%;
    .table-cloumn-one{
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 25px;
            color: #8A25B1;
        }
        p:nth-child(1){
            margin-top: 55px;
           
        }
    }
    .table-cloumn{
        p{
            font-family: Calibri;
            font-style: normal;
            font-size: 18px;
            line-height: 25px;
            text-transform: capitalize;
            color: #000000;
        }
        p:nth-child(1) {
            font-weight: 600;
            color: #757575;
            font-size: 18px;
        }
    }
}
}
@media screen and (max-width:1600px){
    .riepilogi-table{
        padding: 15px 5%;
    }
    .riepilogo-container .MuiInputBase-root, .MuiInputBase-input{
        font-size: 13px !important;
    }
     .riepilogi-table .main-table .table-cloumn p:nth-child(1),.riepilogi-table .main-table .table-cloumn-one p,.riepilogi-table .main-table .table-cloumn p{
        font-size: 16px;
        margin-block-end: 0px;

    }
    .CambioFrazionamento{
         .privacy-container .privacy-sub-container > div{
             padding: 15px 0px !important;
         }       h1{
            font-size: 16px !important;
        }   
    }
    .CambioFrazionamento .privacy-container .privacy-sub-container > div > div p{
        font-size: 15px !important;
    }
    .cambio-frazionamento-wrapper{
        padding: 0px 5%;
    }
    .CambioFrazionamento h1 + div .input-wrapper{
        width: 45%;
    }
    .riepilogo-container{
        height: 84% !important;
        .MuiInputBase-input{
            padding: 3px 0px;
        }
        .riepilogoForm{
            padding-top: 2%;
        }
    }
    
}
@media screen and (max-width:1299px){
   
    .riepilogo-container .MuiInputBase-root, .MuiInputBase-input{
        font-size: 11px !important;
    }
     .riepilogi-table .main-table .table-cloumn p:nth-child(1),.riepilogi-table .main-table .table-cloumn-one p,.riepilogi-table .main-table .table-cloumn p{
        font-size: 14px;
    }
    .CambioFrazionamento{
        //  .privacy-container .privacy-sub-container > div{
        //      padding: 15px 0px;

        //  }
         h1{
            font-size: 14px !important;

        }   
    }
    .CambioFrazionamento .privacy-container .privacy-sub-container > div > div p{
        font-size: 14px !important;
    }
 
    
}
@media screen and (max-width:500px){
    .riepilogo .headings{
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .riepilogo-btn-container{
        justify-content: center;
     :nth-child(2n+1){
         display: none;
     }
    }
    .riepilogo-container{
        width: 100% !important;
        height: 100% !important;
        overflow: scroll;
        width: 100%;
        .riepilogoForm{
            padding: 0px;
            width: 100%;
            padding-bottom: 30px;
        }
        .riepilogoform-main{
            width: 80%;
            margin: auto;
            .MuiInputLabel-outlined{
                font-size: 13px !important;
                line-height: 0px !important;
              }
              .MuiInputLabel-shrink{
                top: 7px !important;
              }
            .main-part{
                margin-top: 10px;
            }
            flex-direction: column;
            .left-riepilogoform,.right-riepilogoform{
                flex-direction: column;
                width: 100%;
                .input-field{
                    width: 100%;
                    flex-direction: column !important;
                    justify-content: space-between;
                    .sub-input-field{
                        width: 100%;

                    }
                }
            }
        }
        .riepilogi-table{
            .main-table{
                flex-direction: column;
                .table-cloumn-one,.table-cloumn{
                    display: flex;
                    justify-content: space-between;
                    :first-child{
                        text-align: left;
                    }
                    p{
                        width: 33%;
                        text-align: center;
                    }
                }
                }
            }
            .cambio-frazionamento-wrapper{
                .CambioFrazionamento h1 + div{
                    flex-direction: column;
                    width: 100%;
                    .input-wrapper{
                        width: 100%;
                        margin-top: 20px;
                        margin-bottom: 10px;
                    }
                }
                .privacy-container .privacy-sub-container{
                    flex-direction: column;
                    &>div{
                        width: 100%;
                        padding: 10px 0px !important;
                    }
                    &>div>div{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;
                        align-items: center;
                        div{
                            margin: 0px;
                        }
                    }
                }

            }
    }
    
}