.heading{   
    font-family: Alata;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.015em;
    text-transform: capitalize;
    color: #0C87C8;
    align-self: center;
    border-bottom: 2px solid;
    width: fit-content;
    font-weight: 400;
    
}
.Attestato-container{
    align-self: center;
    /* margin-top: 20%; */
}
.Attestato-input-container{
    align-self: center;
    margin: 50px;
}
.Attestato-container{
    display: flex;
    flex-direction: column;
}


/* .borderline{
border: 1px solid #0C87C8;
position: absolute;
width: 232px;
height: 2px;
left: 575px;
top: 153px;
} */

/* .progressbardiv{
    border : 11px solid red;
    position: absolute;
    left:1272px;
} */