.daticontratto-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 80%;
    justify-content: center;
    .MuiFormControl-root{
        margin-top: 30px;
        }
    .MuiInputLabel-root.Mui-focused{
        color: #8A25B1;
        }
        .MuiInput-underline:after{
            border-width: 1px !important;
            border-color: rgba(0, 0, 0, 0.42);
        }
    p:before{
        color: #0C87C8;
        content: "ciao, ";
    }
    p{
        font-family: Alata Regular;
        font-style: normal;
        font-weight: normal;
        line-height: 25px;
        letter-spacing: 0.015em;
        text-transform: uppercase;
        color:#8A25B1 ;
        font-size: 18px;
    }
    p + .form-group{
        width: 100%;
    }
   
    .form-group{
        width: 45%;
            div{
                width: 100%;
                .MuiInput-underline:after{
                    border-color: rgba(0, 0, 0, 0.42);
                    border-width: 1px !important;

                }
            }
    }
    h1{
        width: fit-content;
        border-bottom: 2px solid;
        margin: auto;
        color: #0C87C8;
    }
    .form-container{
        width: 100%;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       :nth-child(9) .input-container {
        width: 97%;
      }
    }
    .date-picker-container,.select-container{
        width: 45%;
      
    }
   
}
#Decorrenza{
   width: 100%;
}
@media screen and (max-width:1600px){
    .daticontratto-container{
        p{
            font-size: 16px;
            margin-block-end: 0em;
        }
        .MuiFormLabel-root{
            font-size: 14px;
        }
        .MuiFormControl-root{
            margin-top: 20px;
        }
        :nth-child(9) .input-container {
            width: 96% !important;
          }
         .icon-container{
             width: 4% !important;
         }
    }
}
@media screen and (max-width:1299px){
    .daticontratto-container{
        width: 65%;
        p{
            font-size: 14px;
            margin-block-end: 0em;
        }
        .MuiFormLabel-root{
            font-size: 12px;
        }
        .MuiFormControl-root{
            margin-top: 17px;
        }
        :nth-child(9) .input-container {
            width: 90% !important;
          }
         .icon-container{
             width: 10% !important;
         }
    }
}