.riepilogoForm{
    border-bottom: 1px solid  #EAE9E9;
    padding: 3% 3% 1%;
    .riepilogoform-main{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    height: 100%;
    ::placeholder{
        font-size: 12px;
    }
    .left-riepilogoform,.right-riepilogoform{
        display:flex;
        flex-direction:column;
        justify-content: space-evenly;
        width: 50%;
       
           .sub-input-field{
               padding-bottom: 20px;
               input[type="date"]::-webkit-calendar-picker-indicator{
                display: none;
                -webkit-appearance: none;
            }
          
                .main-part{
                    width: 100%;

                }
        }
    }
    .right-riepilogoform{
        width: 40%;
    }
    .left-riepilogoform{
        .input-field .sub-input-field{
            width: 40%;
        }
    }
   
    }
}