
.stampa-poliza-container{   
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.heading{ 
     font-family: Alata;
     font-style: normal;
     font-weight: bold;
     font-size: 30px;
     line-height: 41px;
     letter-spacing: 0.015em;
     text-transform: capitalize;
     color: #0C87C8;
     text-align: center;  
     width:fit-content;
     margin: 0px auto 2%;
     border-bottom: 2px solid #0C87C8;
}
    .middletext{
    font-family: Calibri;
    font-size:24px;
    color:#8A25B1;
    line-height: 29.3px;
    text-align: center; 

    }
    .lowertext
    {

    font-family:Calibri;
    font-size:14px;
    color:#8A25B1;
    line-height: 0;
    font-style: normal;
    font-weight: 400;
    text-align: center;   
    }
    