.RiepilogoGaranzie{
    width: 90%;
    align-self: center;
    height: 80%;
    display: flex;
    align-items: center;
    h1{
        font-family: Alata Regular;
          font-style: normal;
          font-weight: normal;
          font-size: 30px;
          line-height: 41px;
          letter-spacing: 0.015em;
          text-transform: capitalize;
          color: #0C87C8;
          border-bottom: 2px solid #0C87C8;
          width: -moz-fit-content;
          width: fit-content;
          padding-bottom: 3px;
          margin: 2% auto 3%;
      }
    table{
       
        input[type=checkbox]{
            margin-bottom: 0;
            cursor: pointer;
            position: absolute;
            opacity: 0;
            z-index: 1;
        
        }
        input.input{
            width: 20px;
        
        }
        .checkbox-group input:checked + label:before {
            background-color: #8A25B1;
        }
        .checkbox-group input:checked + label:after {
            content: '';
            display: block;
            position: absolute;
            top: 7px;
            left: 9px;
            width: 4px;
            height: 10px;
            border: 2px solid #FFFFFF;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
        .checkbox-group label:before {
            content: '';
            -webkit-appearance: none;
            background-color: transparent;
            border: 0px solid #FFFFFF;
            border-radius: 50%;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
            padding: 12px;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            margin-right: 5px;
        }
       
        .checkbox-group  {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
           label {
            position: relative;
            cursor: pointer;
        }
        }
         th {
            text-align: left;
            padding: 20px 60px;
            font-size: 20px;
            line-height: 110%;
            color: #8A25B1;
          }
          td{
            text-align: left;
            padding: 20px 60px;
            font-family:Calibri;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            input{
                width: 40px;
                outline: none;
                border: none;
                border-bottom: 0.5px solid #AAAAAA;
                margin: 0px;
                text-align: center;
                
            }
            input:focus{
                border-bottom: 0.5px solid black;            }
            input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    margin: 0; 
                }
            
            p{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                font-weight: 100;
                color: #000000;
            }
            
          }
    }
    
    tbody>tr>:nth-child(4){
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
       }
       tbody>tr>:nth-child(5){
      text-align: center;
       span{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        border-bottom: 0.5px solid #AAAAAA;
        padding-bottom: 5px;
        width: fit-content; 
        color: rgba(0, 0, 0, 0.24);
       }
    }
       tbody>tr>:last-child{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
       }
       tbody>tr>td>span{
           font-size: 22px;
           color: #8A25B1;
       }
       tbody>tr>:last-child span{
           color: black;
           font-size: 18px;
           vertical-align: middle;
       }
       .active{
        color: black !important;
       
       }
    //    tbody>tr>:nth-child(5) span{}
}
@media screen and (max-width:1600px){
    .RiepilogoGaranzie{
         table th{
            font-size: 18px;
            padding: 15px 40px;
        }
        table td{
            font-size: 16px;
            padding: 15px 40px;
        }
         tbody > tr > td > span{
             font-size: 18px;
         }
          tbody > tr > :nth-child(4){
              font-size: 13px;
          }
          tbody > tr > :last-child {
            font-size: 13px;
          }
          .RiepilogoGaranzie tbody > tr > :last-child span{
              font-size: 18px;
          }
    }
    }
    @media screen and (max-width:1299px){
        .RiepilogoGaranzie{
            margin-inline-end: 30px;
            table th{
                font-size: 16px;
                padding: 10px 25px;
            }
            table td{
                font-size: 14px;
                padding: 13px 30px;
            }
            tbody > tr > td > span{
                font-size: 16px;
            }
            tbody > tr > :nth-child(4),tbody > tr > :last-child{
                font-size: 12px;
            }
            tbody > tr > :last-child span{
                font-size: 16px;
            }
            .checkbox-group label:before {
                padding: 10px !important;
            }
           
        }
        }
        @media screen and (max-width:500px){
            .riepilogoGaranzie-btn-container{
                width: 100%;
                justify-content: center;
                margin: 0px;
             :first-child,:nth-child(2){
                 display: none;
             }
            }
        }
        @media screen and (max-width: 380px){
            .riepilogoGaranzie-btn-container{
                .btn{
                    margin-top: 50px !important;
                }
        }}




          // MOBILE VIEW\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
        .riepilogo-accordian{

            width: 90%;
            height: 100%;
            margin-top: 20px;
            align-self: center;
            .accordian-data-container{
              display: flex;
              letter-spacing: 0.015em;
              width: 100%;

              .accordian-sub-container{
                display: flex;
                flex-direction: column;
                width:auto;
                word-break: break-word;
                width: 50%;
                :first-child{
                    color: #8A25B1;
                    line-height: 22px;
                    font-size: 14px;
                    font-weight: normal;

                }
                :nth-last-child(1){
                    font-size: 12px;
                    text-align: left;
                    line-height: 15px;
                    color: #5E5E5E;
                    font-family: Calibri;
                    word-break: break-word;
                    padding-right: 5px;

                }
              }
            }
            .total-amount{
                // width: 100%;
                display: flex;
                justify-content: space-between;
               padding: 20px;
               :first-child{
                   color: #8A25B1;
                   font-size: 14px;
                   letter-spacing: 0.015em;
                   line-height: 110%;
                   &~span{
                      line-height: 100%;
                   }
               }
            
            }
            .MuiAccordionSummary-root {
                margin-top: 20px;
                // box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
            }
            .MuiCheckbox-colorSecondary.Mui-checked{
                color: #8A25B1;
            }
            .MuiTypography-body1{
                font-size: 12px;
            }
            input[type=checkbox]{
                margin-bottom: 0;
                cursor: pointer;
                position: absolute;
                opacity: 0;
                z-index: 1;
            
            }
            input.input{
                width: 20px;
            
            }
            .checkbox-group input:checked + label:before {
                background-color: #8A25B1;
            }
            .checkbox-group input:checked + label:after {
                content: '';
                display: block;
                position: absolute;
                top: 3px;
                left: 12px;
                width: 3px;
                height: 10px;
                border: 2px solid #FFFFFF;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
            .checkbox-group label:before {
                content: '';
                -webkit-appearance: none;
                background-color: transparent;
                border: 0px solid #FFFFFF;
                border-radius: 50%;
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
                padding: 10px;
                display: inline-block;
                position: relative;
                cursor: pointer;
                margin-left: 5px;
            }
           
            .checkbox-group  {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
               label {
                position: relative;
                cursor: pointer;
            }
            }
            .MuiAccordion-root.Mui-expanded {
             border-left: 3px solid #8A25B1;
             z-index: 9;
            }
            .MuiAccordion-root.Mui-expanded .opacity-view{
                    visibility: visible;
            }
            .visible{
                visibility: visible !important;
            }
            .opacity-view{
                background-color: white;
                position: fixed;
                width: 90%;
                height: 100%;
                opacity: .5;
                z-index: 1;
                visibility: hidden;
            }
           .premio-container{
            display: flex;
            width: 100%;
            justify-content: space-between;
            &>div{
                text-align: center;

                p{
                    color: #8A25B1;
                    font-size: 13px;
                    margin: 0px;
                    &~span{
                        font-size: 12px;
                        color: #5E5E5E;
                    }
                }
                
                input[type="number"]{
                      width: 30px;
                      color: #5e5e5e;
                      border: none;
                      border-bottom: 1px solid #AAAAAA;
                      font-family: Roboto;
                      outline: none;
                      font-size: 12px;
                }
            }
           }
        }
       