.prodotto-autovetture-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
    .prodotto-autovetture-title{
        font-family: Alata;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 41px;
        letter-spacing: 0.015em;
        text-transform: capitalize;
        color: #0C87C8;
        border-bottom: 2px solid;
        width: fit-content;
        align-self: center;
    }

    .prodotto-autovetture-list{
        display: flex;
        justify-content: space-around;
        .list-one, .list-two {
            font-size: 16px;
            p:nth-child(1) {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: normal;
                color: #8A25B1;
                line-height: 19px;
            }
            p:nth-child(2) {
                font-family: Calibri;
                font-style: normal;
                font-weight: normal;
                color: #000000;
                line-height: 20px;
            }
        }
    }
    .mid-line{
        border: 1px solid #EAE9E9;
        margin: 4% 0%;
        background-color: #EAE9E9;
    }
    .prodotto-autovetture-form{
        display: flex;
        flex-direction: row;
        // justify-content: space-evenly;
        .left-input-field{
            width: 50%;
            // margin: 0% 10%;
            .subleft-input-field{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .preimum-text{
                font-family: 'Alata';
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                color: #0C87C8;
            }
        }
        .right-input-field{
            width: 50%;
            margin: 0% 10%;
        }
        .input-label{
            margin-bottom: 5%;
        }
        .MuiInput-underline:after{
            border-color: rgba(0, 0, 0, 0.42);
            // border: 1px solid #000000;
        }
    }
}