.prodottoAutovetture-container{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 80%;
    justify-content: center;
    padding-left: 3%;
    .prodotto-autovetture-title{
        font-family: Alata;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 41px;
        letter-spacing: 0.015em;
        text-transform: capitalize;
        color: #0C87C8;
        border-bottom: 2px solid;
        width: fit-content;
        align-self: center;
    }

    .prodotto-autovetture-list{
        display: flex;
        justify-content: space-around;
        .list-one, .list-two {
            font-size: 16px;
            p:nth-child(1) {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: normal;
                color: #8A25B1;
                line-height: 19px;
            }
            p:nth-child(2) {
                font-family: Calibri;
                font-style: normal;
                font-weight: normal;
                color: #000000;
                line-height: 20px;
            }
        }
    }
    .mid-line{
        border: 1px solid #EAE9E9;
        margin: 4% 0%;
        background-color: #EAE9E9;
    }
    .prodotto-autovetture-form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin-right: 50px;
        align-self: flex-end;
        

        .right-input-field{
            width: 40%;
            ._input{
                margin: 8% 0px !important;
            }
        }
                .left-input-field{
            width: 50%;
            // margin: 0% 10%;
            .subleft-input-field{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                &>.input-label{
                    width: 45%;
                }
            }
           
        }
       
       
        .input-label{
            margin: 3% 0px;
            
        }
        .MuiInput-underline:after{
            border-color: rgba(0, 0, 0, 0.42);
            border-width: 1px !important;

        }

    }
    .preimum-text{
    //     font-family: 'Alata';
        font-weight: 100;
        font-size: 18px;
        line-height: 29px;
        color: #0C87C8;
    }
}
@media screen and (max-width:1600px){
    .prodottoAutovetture-container .preimum-text{
        font-size: 16px;
    }
    .prodotto-autovetture-form .MuiInputBase-root{
        font-size: 13px;
    }
}
@media screen and (max-width:500px){
    .prodottoAutovetture-container{
        width: 100%;
        height: 100%;
        padding: 0px;
        .input-label{
            font-size: 14px;
        }
        align-self: center;
        .prodotto-autovetture-list{
            width: 80%;
            align-self: center;
            flex-direction: column;
            .list-one,.list-two{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .list-two :nth-child(2),.list-one :nth-child(2){
                font-size: 12px;
            }
           

        }
        .prodotto-autovetture-form{
            flex-direction: column;
            align-self: center;
            width: 80%;
            margin: 0px;
            .left-input-field,.right-input-field{
                width: 100%;
            }
            .subleft-input-field{
                flex-direction: column !important;
                &>.input-label{
                    width: 100% !important;
                }
            }
        }
        .preimum-text{
            font-size: 12px;
        }
       
    }
    .ProdottoAutovetture-btn-container{
        width: 80%;
        justify-content: space-between;
        align-self: center;
        button{
            margin: 0px;
        }
    }
}