.toogle-btn-container{
   
    .toogle-btn-wrapper{
       
        width: fit-content;
        display: flex;
        align-items: center;
        position: relative;
    .si-label::after,.no-label::after{
        content: 'Si';
        position: absolute;
        text-align: center;
        color: #8A25B1;
        margin: 2px 8px;
        z-index: 999999;
        height: fit-content;
        display: flex;
    }
    .no-label::after{
        content: 'No';
    }
        input{
            margin: 0px;
            padding: 5px;
            width: 35px;
            height: auto;
            background-color: white;
            color:transparent;
            outline: none;
            border: none;
            box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
            text-align: center;
            cursor: pointer;
            border-radius: 3px;
            letter-spacing: 0.015em;
            text-transform: capitalize;
            position: relative;
            // z-index:99999;
            // opacity: 0;ss
           

        }
        // :nth-child(2){
        //     background-color: white;
        //     color:#8A25B1;
        // }
        .active{
            font-size: 18px;
            line-height: 25px;
            color: transparent;
            background-color: #8A25B1;
            // width: 40px;
        }
        .si-label-active::after,.no-label-active::after{
            color:white ;
            margin: 5px 8px;
        }
        .no-label-disable::after{
            color: #8A25B1;
        }
       
    }
}
@media screen and (max-width:1600px){
    .toogle-btn-wrapper .si-label::after,.no-label::after{
        font-size: 14px !important;
        margin: 5px 10px !important;
    }
}