.proclotto-autovetture-Datiintegrative-container{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 60%;
    height: 75%;

}

    .proclotto-autovetture-Datiintegrative-container-title{   
   
        font-family: Alata;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 41px;
        letter-spacing: 0.015em;
        text-transform: capitalize;
        color: #0C87C8;
        align-self: center;  
    }

   .proclotto-autovetture-Datiintegrative-container-sub-title{   
    font-family: Alata Regular;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 41px;
        letter-spacing: 0.015em;
        text-transform: capitalize;
        color: #0C87C8;
        align-self: center;   
        border-bottom: 1px solid;      
    }
   .proclotto-autovetture-Datiintegrative-form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        
    }
    
    .input-label{
        /* margin: 5% 0px; */
    }

    .base-line{
      color: #0C87C8;;
        align-self: center;
        border-bottom: 2px solid;
        width: 285px;
 }
 .proclotto-autovetture-Datiintegrative-container .left-input-field{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 50%;
    
}
.proclotto-autovetture-Datiintegrative-container .right-input-field{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 50%;
}
@media screen and (max-width:1600px){
    /* .proclotto-autovetture-Datiintegrative-container{ */
        .proclotto-autovetture-Datiintegrative-container .MuiInputBase-root{
            font-size: 14px;
        }
    /* } */
}
@media screen and (max-width:500px){
    .proclotto-autovetture-Datiintegrative-container{
        width: 80%;
    }
        .proclotto-autovetture-Datiintegrative-form{
            width: 100%;
            align-items: flex-start;
            flex-direction: column;
            justify-content: flex-start;
        }
            .proclotto-autovetture-Datiintegrative-container .left-input-field,.proclotto-autovetture-Datiintegrative-container .right-input-field{
                width: 100%;
                justify-content: space-around;
            }
   
}