*{
  font-family: 'Alata Regular';
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: 'Calibri';
  src: local('Calibri') url(../src/assets/fonts/calibrifont/calibri_font/CalibriRegular/CalibriRegular.ttf) format('truetype')

}
.hide-progress-bar{
  display: none;
}
body::-webkit-scrollbar {
  // display: none;
} 
/* Hide scrollbar for IE, Edge and Firefox */
body {
-ms-overflow-style: none;  
scrollbar-width: none;  
// overflow: hidden;
}
// .product-container{
// display: flex;
// justify-content: center;
// // transform: translateY(100vh);
// .product-list{
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   width: 100%;
// }

// }
.app-logo {
  position: fixed;
  top: 20px;
  left: 83px;
}
.form-one {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  button{
  transition: transform 600ms ease 0s, opacity 300ms ease 0s;

  }
}

.pre{
    // opacity: 0;
    transition: transform 600ms ease 0s, opacity 300ms ease 0s;
    transform: translateY(-100vh);
    background-color: yellow;
    position: absolute;
}
.next{
    // width: 100%;
    // height: 100vh;
    // padding-top: 0px;
    pointer-events: none;
    transition: transform 600ms ease 0s, opacity 300ms ease 0s;
    // opacity: 0;
    transform: translateY(-0vh);
    background-color: rgb(221, 194, 194);
}
.current{
    width: 100%;
    height: 100vh;
    padding-top: 0px;
    transition: transform 600ms ease 0s, opacity 300ms ease 0s;
    // transform: translateY(-100vh);
    background: yellow;
}
.form-two {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // // width: 100%;
  // // height: 100%;
  // // padding-top: 0px;
  // // pointer-events: none;
  // // transition: transform 600ms ease 0s, opacity 300ms ease 0s;
  // // opacity: 0;
  // transform: translateY(100vh);
  // position: absolute;
}
.btn-first {
  background-color:  #8A25B1;
  font-size: 20px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.015em;
  padding: 7px 17px;
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  color: #FFFFFF;
  cursor: pointer;
}

.head-text {
  color:  #0C87C8;
}

.head-text-w-underline {
  font-size: 30px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.015em;
  text-transform: uppercase; 
  border-bottom: 3px solid #0C87C8; 
  padding-bottom: 5px;
  color:  #0C87C8;
  width: fit-content;
  // margin: auto;
  margin: 0 auto;
}

.form-two-content {
  display: flex;  
  width: 60%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.form-two-content div.product {
  padding:5px 25px;
  margin: 45px;
  border: 1px solid #00000026;
  border-radius: 10px;
  min-width: 100px;
  font-weight: normal;
  font-size: 20px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.015em;
  color: #8A25B1;
  position: relative;
  height: 24px;
  cursor: pointer;
}

.img-container {
  height: 47px;
  width: 47px;
  background-color: #8A25B1;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: -6px;
  left: -30px;
}

/* .form-two-content div img {
    background-color: #8A25B1;
    position: absolute;
    left: -50px;
    bottom: -15px;
    padding: 10px;
    border-radius: 50%;
    height: 47px;
    width: 47px;
} */

/*hird page */
.product-list-third {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  height: 100vh;
  width: 100%;

}

.step-view-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-list-third .product-list {
  width: 60%;
}

.product-list-third .product-list .list-item {
  display:flex;
  justify-content: space-around;
  margin: 49px 0px;
}

.product-list-third .product-list .list-item div {
  width: 50%;
}

thead td {
    margin: 40px 0px;
    font-size: 20px;
    letter-spacing: 0.015em;
    color: #8A25B1;
    /* padding: 40px 0px 25px; */
    padding: 20px 80px;
}

tbody td {
  /* padding: 20px 0px; */
  padding:20px 80px ;
  font-family: Calibri;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.015em;
}

td {
  text-align: left;
}
td input {
  margin-right: 10px;
}

td.input-col{
  /* width: 10%; */
  /* position: relative; */
}
td.second {
  /* width: 70%; */
  padding: 20px 100px;
}
td.third {
  /* width:  65%; */
  padding: 20px 180px 20px 280px;
}

label.label-custom:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  
}

input:checked + label.label-custom:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px; 
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

input.input-check {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

label.label-custom {
  position: relative;
  cursor: pointer;
}

.frm-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.frm-group label {
  position: relative;
  cursor: pointer;
}

.frm-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 0px solid #FFFFFF;
  border-radius: 50%;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05); */
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  padding: 12px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  background-color: white;
}

.frm-group input:checked + label:before{
  background-color: #8A25B1;
}
.transitions{
  // position: absolute;
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  transition: transform 600ms ease 0s, opacity 300ms ease 0s;



    // position: absolute;
    // width: 100%;
    // height: 100%;
    // padding-top: 0px;
    // transition: transform 600ms ease 0s, opacity 300ms ease 0s;
}
.frm-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 7px;
  left: 9px;
  width: 4px;
  height: 10px;
  border: 2px solid #FFFFFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.product-list-third button.btn {
  background: #8A25B1;
  border-radius: 2px;
  font-family: Alata;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.015em;
  border: none;
  color: #FFFFFF;
  padding: 10px 20px;
  margin-top: 20px;
  width: fit-content;
  align-self: center;
  z-index: 1;
}

.input-col .img-div{
  position: absolute;
  right: 90px;
  top: 0;
}

.input-col .img-div img {
  width: 471px;
  height: 813px;
  /* max-width: 440px; */
  /* max-height: 882px; */
}

.PrivateNotchedOutline-legendNotched-5{
  max-width: 100px !important;
}
.ProdottoAutovetture,.Attestato{
  justify-content: space-evenly;
}
.ElencoGaranzie,.DatiAnagrafici,.questionario,.daticontratto,.stampa-poliza,.proclotto-autovetture-Datiintegrative{
  justify-content: center;
}
.attestato-wrapper{
  display: flex;
  flex-direction: column;
  height: 50%;
}
