.dati-anagrafici-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    
    .dati-anagrafici-text{
        font-family: Alata;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 41px;
        letter-spacing: 0.015em;
        text-transform: capitalize;
        color: #0C87C8;
        border-bottom: 2px solid;
        width: fit-content;
        align-self: center;
    }
    .dati-anagrafici-form-container{
        width: 80%;
        display: flex;
        justify-content: space-between;
       
        .datidelcontraente-form ,.datidelveicolo-form{
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            
                // .MuiInput-underline:after{
                //     border-color: rgba(0, 0, 0, 0.42);
                // }
            .MuiInputLabel-root.Mui-focused{
                color: #5094BA;
                }
                .MuiInput-underline:after{
                    border-color: rgba(0, 0, 0, 0.42);
                    border-width: 1px !important;

                }


                .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
                    border-color: #5094BA !important;
                  }
                  .datidelveicolo-title {
                    font-family: Alata Regular;
                    font-style: normal;
                    // font-weight: bold;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0.015em;
                    text-transform: uppercase;
                    color: #8A25B1;
                    align-self: center;
                }
        }
       
        .form-border{
            width: 3px;
            background: #0C87C8;
            height: 92%;
        }
        .copia-btn{
            width: 80px;
            height: 27px;
            left: 1037px;
            top: 706px;
            background: #0C87C8;
            border-radius: 2px;
            border: none;
            color: white;
            align-self: flex-end;
            cursor: pointer;
            margin-right: 70px;
        }
        .form-line-dot{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 38px;
            
        }
    }
}
@media screen and (max-width:1600px){
    .dati-anagrafici-container .dati-anagrafici-form-container{
        width: 75%;
        .makeStyles-textField-1{
            width: 350px;
        }
        .MuiInputLabel-root{
            font-size: 14px !important;
             }
        .MuiOutlinedInput-input{
            padding: 14.5px 13px;

        }
        .datidelveicolo-title{
            font-size: 16px !important;
        }
    }
    .PrivateNotchedOutline-legendLabelled-4 > span{
        font-size: 16px;
    }
            
}
@media screen and (max-width:1299px){
    .dati-anagrafici-container .dati-anagrafici-form-container{
        justify-content: center;
        .makeStyles-textField-1{
            width: 245px;
        }
        .MuiInputLabel-root{
            font-size: 13px !important;
             }
        .MuiOutlinedInput-input{
            padding: 14.5px 13px;

        }
        .datidelveicolo-title{
            font-size: 14px !important;
        }
    }
    .PrivateNotchedOutline-legendLabelled-4 > span{
        font-size: 14px;
    }
            
}