.elencoGaranzie-table{
    margin-top: 120px;
    margin-left: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
   
  }
  .ElencoGaranzie{
    position: relative;
  }
  .img-view{
    width: 100%;
    position: absolute;
    height: 80%;
    bottom: 0%;
    img{
      height: 100%;
    }
  }
  @media only screen and (max-width:1600px) {
    .elencoGaranzie-table{
        margin-top: 35px;
        margin-left:170px;
        .frm-group label:before{
          padding: 10px;
        }
        thead td {
            font-size: 20px ;
        }
        td.second,.third{
            font-size: 16px;
        }
        td.second{
          padding: 10px 80px;
        }
        td.third{
          padding:10px 140px 10px 180px ;
        }
        tbody td {
          padding: 16px 80px;
        }
    }
  }
  @media only screen and (max-width:1299px) {
    .elencoGaranzie-table{
    margin-left: 180px;
    tbody td {
      padding: 16px 70px;
    }
    td.second{
      padding: 7px 50px;
    }
       td.third{
        padding: 10px 80px;
      }
        thead td {
            font-size: 18px ;
        }
        td.second,.third{
            font-size: 14px;
        }
        .frm-group label:before{
          padding: 10px;
        }
    }
  }
  