.form-two-content {
    display: flex;  
    width: 60%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  .form-two-content div.product {
    padding:5px 25px;
    margin: 45px;
    border: 1px solid #00000026;
    border-radius: 10px;
    min-width: 100px;
    font-weight: normal;
    font-size: 20px;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.015em;
    color: #8A25B1;
    position: relative;
    height: 24px;
    cursor: pointer;
  }
//   media queries


@media  screen and (max-width:1600px){
    .form-two-content{
        width: 80%;
    }
}